{% extends 'web_core/main.html' %}

{% block content %}

<style>
    .col-md-2 {
        padding: 0;
    }

    .col-md-10 {
        margin-top: 50px;
    }

    .card-body {
        padding-bottom: 0px;
    }

    .table-title {
        text-align: center;
    }

    .table th,
    .table td {
        vertical-align: middle;
        text-align: center;
    }

    .small-content {
        width: 150px;
    }

    .mid-content {
        width: 250px;
    }

    .table-head {
        color: #ffff;
        background-color: #399;
    }

    .btn {
        margin: 0 5px;
    }

    .btn-text-right {
        text-align: right;
    }

    .btn.edit-btn {
        font-weight: bold;
        margin-bottom: 8px;
        cursor: pointer;
        color: #fff;
        background-color: rgb(255, 204, 0);
    }

    .btn.del-btn {
        font-weight: bold;
        margin-bottom: 8px;
        margin-right: 20px;
        cursor: pointer;
        color: #fff;
        background-color: rgb(255, 37, 37)
    }

    .btn.view-btn {
        font-weight: bold;
        margin-bottom: 8px;
        cursor: pointer;
        color: #fff;
        background-color: #399;
    }

    .btn.add-btn {
        font-weight: bold;
        margin-bottom: 15px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        background-color: #399;
        border-radius: 10px;
    }

    .btn:hover {
        background-color: #fff;
        color: rgb(0, 0, 0) !important;
        border-color: #399;
    }
</style>
<div class="row">
    <div class="col-md-2">
        {% include 'web_core/sidebar.html' %}

    </div>
    <div class="col-md-10">
        <h2 class="table-title" style>DANH SÁCH PHIẾU KHÁM</h2>
        <div class="btn-text-right">
            <a class="btn add-btn" href="{% url 'quanli_them_phieukham' %}">Thêm phiếu khám</a>
        </div>
        <div class="card card-body">

            <table class='table table-sm'>
                <tr class="table-head">
                    <th class="small-content">STT</th>
                    <th class="mid-content">Họ tên</th>
                    <th class="small-content">ID Phiếu khám</th>
                    <th class="small-content">Ngày khám</th>
                    <th class="mid-content">Thao tác</th>
                </tr>
                {% for index, phieukham in enum_dspk %}
                <tr>
                    <td class="small-content">{{index}}</td>
                    <td class="mid-content">{{phieukham.id_benhnhan.ho_ten}}</td>
                    <td class="small-content">{{phieukham.id}}</td>
                    <td class="small-content">{{phieukham.ngay_kham|date:"d/m/Y"}}</td>
                    <td>
                        <a class="btn view-btn" href="{% url 'quanli_xem_phieukham' phieukham.id %}">Xem</a>
                        {% if request.user.is_staff%}
                        <a class="btn edit-btn" href="{% url 'quanli_sua_phieukham' phieukham.id %}">Chỉnh sửa</a>
                        <a class="btn del-btn" href="{% url 'quanli_xoa_phieukham' phieukham.id %}">Xoá</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}