{% extends 'web_core/main.html' %}
{$ load static %}
{% block content %}

<style>
    #id_id {
        border: 0;
    }

    input[type=submit] {
        font-weight: bold;
        background-color: #399;
        border-radius: 6px;
        border-width: 0px;
        color: white;
        padding: 10px 14px;
        margin: auto;
        margin-top: 5px;
    }

    .errorlist {
        font-weight: bold;
        color: red;
        list-style-type: none;
    }

    .btn.back-btn {
        font-weight: bold;
        background-color: white;
        border-color: black;
        border-radius: 6px;
        border-width: 1px;
        color: black;
        padding: 8px 18px;
        margin: auto;
        right: 0;
    }

    .btn.form-btn {
        display: flex;
        justify-content: center;
    }
</style>
<div class="d-flex justify-content-center h-100" style="margin-top:50px;">
    <div class="user_card">
        <div class="d-flex justify-content-center">
        </div>
        <div class="d-flex justify-content-center form_container">
            <div class="card card-body">
                <h3 id="form-title" style="text-align: center;">CHỈNH SỬA THÔNG TIN BỆNH NHÂN</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="btn form-btn">
                        <input type="submit" value="Xác nhận">
                        <a class='btn back-btn' href="{% url 'quanli_dsbn' %}">Trở lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}