{% load static %}
<style>
    .footer {
        width: 100%;
        height: 155px;
        clear: both;
        background-color: #399;
        color: #fff;
    }

    .row.footer {
        padding-left: 15px;
        padding-top: 15px;
    }

    .info-row {
        padding-bottom: 0.5rem;
    }

    .logo {
        float: right;
        margin-right: 2rem;
    }
</style>
<div class="footer-container">
    <div class="row footer">
        <div class="col-md-7">
            <div class="info-row">
                <span>PHÒNG KHÁM SE14</span>
            </div>
            <div class="info-row">
                <span>ĐỊA CHỈ: 227 Nguyễn Văn Cừ, phường 4, quận 5, TPHCM</span>
            </div>
            <div class="info-row">
                <span>SĐT: 0987654321</span>
            </div>
            <div class="info-row">
                <span>EMAIL: phongkhamse14@gmail.com</span>
            </div>

        </div>
        <div class="col-md-5">
            <img class="logo" src="{% static 'images/favicon.png' %}" height="128">
        </div>
    </div>
</div>