{% extends 'web_core/main.html' %}

{% block content %}
<style>
    .col-md-2 {
        padding: 0;
    }

    .col-md-10 {
        margin-top: 3rem;
    }

    .table-title {
        text-align: center;
    }

    .btn-text-right {
        text-align: right;
    }

    .btn-text-left {
        text-align: left;
    }

    .btn.add-btn {
        font-weight: bold;
        margin-bottom: 0.5rem;
        margin-right: 20px;
        color: #fff;
        background-color: #399;
    }

    .btn:hover {
        background-color: #fff;
        color: #399;
        border-color: #399;
        border-width: 1px;
    }

    .column {
        float: left;
        width: 50%;
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-2">
        {% include 'web_core/sidebar.html' %}
    </div>
    <div class="col-md-10">
        <h2 class="table-title" style>HÓA ĐƠN</h2>
        <div class="card card-body">
            <div class="row">
                <div class="column">
                    <p>Họ và tên: {{phieukham.id_benhnhan.ho_ten}}</p>
                </div>
                <div class="column">
                    <p>Ngày khám: {{phieukham.ngay_kham|date:"d/m/Y"}}</p>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <p>Tiền khám: {{tienkham}} đồng</p>
                </div>
                <div class="column">
                    <p>Tiền thuốc: {{tienthuoc}} đồng</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center form_container">
            <div class="row">
                <a class="btn add-btn" href="{% url 'quanli_xuathoadon' %}">Quay lại</a>
                <a class="btn add-btn" href="#">In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}