{% extends 'web_core/main.html' %}

{% block content %}
<style>
    .col-md-2 {
        padding: 0;
    }

    .col-md-10 {
        margin-top: 50px;
    }

    .card-body {
        padding-bottom: 0px;
    }

    .table-title {
        text-align: center;
    }

    .table td,
    .table th {
        vertical-align: middle;
        text-align: center;
    }


    .small-content {
        width: 150px;
    }

    .mid-content {
        width: 250px;
    }

    .large-content {
        width: 450px;
    }

    .table-head {
        color: #ffff;
        background-color: #399;
    }

    .btn-text-right {
        text-align: right;
    }

    .btn:hover {
        background-color: #fff;
        color: #399;
        border-color: #399;
        border-width: 1px;
    }
</style>
<div class="row">
    <div class="col-md-2">
        {% include 'web_core/sidebar.html' %}
    </div>

    <div class="col-md-10">
        <h2 class="table-title" style>TRA CỨU LỊCH SỬ KHÁM BỆNH</h2>

        <div class="btn-text-right">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="card card-body">
            <table class='table table-sm'>

                <tr class="table-head">
                    <th class="small-content">STT</th>
                    <th class="small-content">ID</th>
                    <th class="mid-content">Họ tên</th>
                    <th class="small-content">Ngày khám</th>
                    <th class="small-content">Loại bệnh</th>
                    <th class="large-content">Triệu chứng</th>
                </tr>
                {% for index,lsk in enum_lsk %}
                <tr>
                    <td class="small-content">{{index}}</td>
                    <td class="mid-content">{{lsk.id_benhnhan.id}}</td>
                    <td class="small-content">{{lsk.id_benhnhan.ho_ten}}</td>
                    <td class="small-content">{{lsk.ngay_kham|date:"d/m/Y"}}</td>
                    <td class="large-content">{{lsk.loai_benh.ten}}</td>
                    <td class="large-content">{{lsk.trieu_chung}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}