{% extends 'web_core/main.html' %}

{% block content %}
<style>
    .row.sub {
        margin-top: 2rem;
    }

    .col-md-2 {
        padding: 0;
    }

    .col-md-10 {
        margin-top: 3rem;
    }

    .card-body {
        padding-bottom: 0rem;
    }

    .table-title {
        display: flex;
        justify-content: center;
    }

    th {
        text-align: center;
    }

    th.small-content {
        vertical-align: middle;
        width: 150px;
    }

    th.mid-content {
        vertical-align: middle;
        width: 250px;
    }

    th.large-content {
        vertical-align: middle;
        width: 450px;
    }

    .table-head {
        color: #ffff;
        background-color: #399;
    }

    .btn-text-right {
        text-align: right;
    }

    .btn:hover {
        background-color: #fff;
        color: #399;
        border-color: #399;
        border-width: 1px;
    }
</style>
<div class="row">

    <div class="col-md-10">
        <h2 class="table-title" style>TRA CỨU LỊCH SỬ KHÁM BỆNH</h2>

        <div class="btn-text-right">
            <form method="get">
                {{myFilter.form}}
            <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>

        <div class="card card-body">
            <table class='table table-sm'>

                <tr class="table-head">
                    <th class="small-content">STT</th>
                    <th class="small-content">ID</th>
                    <th class="mid-content">Họ tên</th>
                    <th class="small-content">Ngày khám</th>
                    <th class="small-content">Loại bệnh</th>
                    <th class="large-content">Triệu chứng</th>
                </tr>

                {% for index,lsk in enum_lsk_guest %}
                <tr>
                    <th class="small-content">{{index}}</th>
                    <th class="mid-content">{{lsk.id_benhnhan.id}}</th>
                    <th class="small-content">{{lsk.id_benhnhan.ho_ten}}</th>
                    <th class="small-content">{{lsk.ngay_kham|date:"d/m/Y"}}</th>
                    <th class="large-content">{{lsk.loai_benh.ten}}</th>
                    <th class="large-content">{{lsk.trieu_chung}}</th>
                </tr>
                {% endfor %}
    
            </table>
        </div>
    </div>
</div>
{% endblock %}