{% load static %}

<style>
    .my-navbar.fixed-top {
        position: fixed;
        color: #fff;
        background-color: #399;
        z-index: 10;
    }

    .my-nav-item {
        color: #fff;
        font-weight: bold;
        padding: 9.6px 16px !important;
        text-transform: uppercase;
        border-radius: 5px;
        width: 120px;
        text-align: center;
    }

    .my-nav-item:hover:not(.my-nav-active) {
        color: #fff;
        opacity: 0.7;
    }

    .my-nav-active,
    .my-nav-active:hover {
        color: #399;
        background-color: #fff;
    }

    .my-btn {
        border: 1px solid #fff;
        margin-right: 10px;
    }

    .hello-msg {
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }

    .hello-msg>span {
        font-style: italic;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }
</style>

<nav class="navbar navbar-expand-lg my-navbar fixed-top">
    <a href="{% url 'home' %}">
        <img class="navbar-brand" alt="logo-brand" src="{% static 'images/favicon.png' %}" height="50"
            style="padding-bottom: 4px" />
    </a>
    <span class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        DANH MỤC
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% with request.resolver_match.url_name as url_name %}
        <div class="navbar-nav">
            <a class="nav-item nav-link my-nav-item {% if url_name == 'home' %}my-nav-active{% endif %}"
                href="{% url 'home' %}">Trang chủ</a>
            <a class="nav-item nav-link my-nav-item {% if url_name == 'lsk_guest' %}my-nav-active{% endif %}"
                href="{% url 'lsk_guest' %}">Tra cứu</a>
            <a class="nav-item nav-link my-nav-item {% if 'quanli' in url_name %}my-nav-active{% endif %}"
                href="{% url 'quanli_dskb' %}">Quản lý</a>
        </div>
        {% endwith %}
    </div>
    {% with request.resolver_match.url_name as url_name %}

    {% if request.user.is_authenticated %}
    <span class="hello-msg">Xin chào, <span> {{request.user}} </span></span>
    <a class="nav-item nav-link my-nav-item my-btn" href="{% url 'logout' %}">Đăng xuất</a>

    {% else %}
    <a class="nav-item nav-link my-nav-item my-btn {% if url_name == 'login' %}my-nav-active{% endif %}"
        href="{% url 'login' %}">Đăng nhập</a>
    {% endif %}
    {% endwith %}

</nav>