<style>
    .my-navbar.fixed-left {
        position: fixed;
        top: 72px;
        left: 0;
        bottom: 0;
        padding: 0;
        z-index: 1;
        width: 245px;
        background: #fff;
        border-right: 1px solid #399;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    .navbar-nav.my-sidebar-nav {
        flex-direction: column;
    }

    .my-sidebar-item {
        color: #399;
        font-weight: bold;
        padding: 0 30px !important;
        margin: 0 5px;
        text-transform: uppercase;
        height: 88px;
        line-height: 88px;
        border-radius: 10px;
    }

    .my-sidebar-item:hover:not(.my-sidebar-active) {
        color: #399;
        opacity: 0.7;
    }

    .my-sidebar-active,
    .my-sidebar-active:hover {
        color: #fff;
        background-color: #399;
    }
</style>

<nav class="navbar navbar-expand-md my-navbar fixed-left">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% with request.resolver_match.url_name as url_name %}
    <div class="navbar-nav my-sidebar-nav">
        <a class="nav-item nav-link my-sidebar-item {% if 'dskb' in url_name %}my-sidebar-active{% endif %}"
            href="{% url 'quanli_dskb' %}">Danh sách khám bệnh</a>
        <a class="nav-item nav-link my-sidebar-item {% if 'lsk' in url_name %}my-sidebar-active{% endif %}"
            href="{% url 'quanli_lsk' %}">Lịch sử khám</a>
        <a class="nav-item nav-link my-sidebar-item {% if 'dspk' in url_name %}my-sidebar-active{% endif %}"
            href="{% url 'quanli_dspk' %}">Danh sách phiếu khám</a>
        <a class="nav-item nav-link my-sidebar-item {% if 'xuathoadon' in url_name %}my-sidebar-active{% endif %}"
            href="{% url 'quanli_xuathoadon' %}">Xuất hóa đơn</a>
        {% if request.user.is_staff%}
        <a class="nav-item nav-link my-sidebar-item {% if 'dsbn' in url_name %}my-sidebar-active{% endif %}"
            href="{% url 'quanli_dsbn' %}">Danh sách bệnh nhân</a>
        <a class="nav-item nav-link my-sidebar-item {% if 'lapbaocao' in url_name %}my-sidebar-active{% endif %}"
            href="{% url 'quanli_lapbaocao' %}">Lập báo cáo</a>
        <a class="nav-item nav-link my-sidebar-item {% if 'thaydoi' in url_name %}my-sidebar-active{% endif %}"
            href="{% url 'quanli_thaydoi' %}">Thay đổi quy định</a>
        {% endif %}
    </div>
    {% endwith %}
</nav>