{% extends 'web_core/main.html' %}

{% block content %}
    <style>
        .col-md-2 {
            padding: 0;
        }

        .col-md-10 {
            margin-top: 3rem;
        }

        .card-body {
            padding-bottom: 0;
        }

        .table-title {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            margin-bottom: 32px;
        }

        th {
            text-align: center;
        }

        th.small-content {
            vertical-align: middle;
            width: 150px;
        }

        th.large-content {
            vertical-align: middle;
            width: 450px;
        }

        .table-head {
            color: #ffff;
            background-color: #399;
        }

        .my-table {
            counter-reset: stt-counter 0;
        }

        .my-table .stt::before {
            counter-increment: stt-counter 1;
            content: counter(stt-counter) " ";
        }

        a.blue-hover:link,
        a.blue-hover:visited {
            color: blue;
        }

        a.blue-hover:hover,
        a.blue-hover:active {
            text-decoration: underline;
        }
    </style>

    <div class="row">
        <div class="col-md-2">
            {% include 'web_core/sidebar.html' %}
        </div>
        <div class="col-md-10">
            <h2 class="table-title">Thay đổi quy định</h2>
            <div class="card card-body">
                <table class='table table-sm my-table'>
                    <tr class="table-head">
                        <th class="small-content">STT</th>
                        <th class="large-content">Quy định</th>
                        <th class="small-content">Thao tác</th>
                    </tr>
                    <tr>
                        <th class="small-content stt"></th>
                        <th class="large-content">Số lượng bệnh nhân tối đa trong ngày</th>
                        <th class="small-content"><a class="blue-hover" href="{% url 'quanli_thaydoi_slbn' %}">Thay
                            đổi</a></th>
                    </tr>
                    <tr>
                        <th class="small-content stt"></th>
                        <th class="large-content">Tiền khám</th>
                        <th class="small-content"><a class="blue-hover" href="{% url 'quanli_thaydoi_tienkham' %}">Thay
                            đổi </a></th>
                    </tr>
                    <tr>
                        <th class="small-content stt"></th>
                        <th class="large-content">Loại bệnh</th>
                        <th class="small-content"><a class="blue-hover" href="{% url 'quanli_thaydoi_loaibenh' %}">Thay
                            đổi </a></th>
                    </tr>
                    <tr>
                        <th class="small-content stt"></th>
                        <th class="large-content">Thuốc và đơn giá</th>
                        <th class="small-content"><a class="blue-hover" href="{% url 'quanli_lapbaocao_bcsdt' %}">Thay
                            đổi </a></th>
                    </tr>
                    <tr>
                        <th class="small-content stt"></th>
                        <th class="large-content">Đơn vị tính, cách dùng</th>
                        <th class="small-content"><a class="blue-hover" href="{% url 'quanli_lapbaocao_bcsdt' %}">Thay
                            đổi </a></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}